.pogifyLogoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.pogifyLogoText {
    text-align: center;
    font-size: 56px;
    font-weight: normal;
}

.pogifyLogoImage {
    height: 100%;
    margin-right: 20px;
}

.pogifyCatchline {
    text-align: center;
    font-size: 1rem;
    margin: 2em 0;
}

.actionWrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.actionIcon {
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.actionIcon > img {
    width: 50%;
}

.actionButton {
    background-color: red;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    transition: box-shadow 0.3s;
}

.joinButton {
    background: linear-gradient(90deg, #639AE9 0%, #247DFF 100%);
    box-shadow: 0px 0px 9px 6px rgba(85, 145, 231, 0.25);
}

.hostButton {
    background: linear-gradient(90deg, #0FBD7F 0%, #009962 100%);
    box-shadow: 0px 0px 9px 6px rgba(15, 189, 127, 0.25);
}

.joinButton:hover {
    box-shadow: 0 9px 13px 0 rgba(85, 145, 231, 0.4), 0 17px 50px 0 rgba(85, 145, 231, 0.3);
}

.hostButton:hover {
    box-shadow: 0 9px 13px 0 rgba(15, 189, 127, 0.4), 0 17px 50px 0 rgba(15, 189, 127, 0.3);
}

.actionText {
    color: white;
    flex: 1;
    margin-right: 15px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.donations {
    border-radius: 16px;
    width: 500px;
    height: 100px;
    margin-top: 2em;
    box-shadow: 0px 2px 15px -5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.donationsDarkTheme {
    background: #CC8F00;
}

.donations > p {
    width: 300px;
}