body {
  background: hsla(215, 69%, 67%, 1);
  background: linear-gradient(117deg, #9883E5 0%, #7F53AC 99.49%);
  background-attachment: fixed;
  color: white;
}

.theme-dark {
  background: linear-gradient(117deg, #5B43CC 0%, #401C76 99.49%);
  background-blend-mode: soft-light, normal;
}