@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Catamaran&display=swap');

.layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Catamaran", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.content {
  transition: background-color 0.5s, color 0.5s;
  background-color: #FFFCF2;
  color: #252422;
  padding: 2rem;
  border-radius: 12.5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  max-height: 80%;
  overflow: auto;
}

.content button {
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 500px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  border: none;
  margin: 5px;
  background-color: #eb5e28;
  outline: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.content button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.content button:focus {
  outline: none;
  transition: box-shadow 50ms;
  box-shadow: 0 3px 7px 1pt rgba(0, 0, 0, 0.24);
}

.darkContent {
  background-color: #252422;
  color: #FFFCF2;
}

.darkContent button {
  color: #FFFCF2;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 47px;
  text-align: center;
}

.footer a {
  color: white !important;
}

.mode-toggle {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font: inherit;
  text-decoration: underline;
}
