.flexDiv {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorDiv {
  max-width: 70%;
  max-height: 70%;
  text-align: center;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.errorDivChildren {
  text-align: left;
  white-space: pre;
  overflow: auto;
  max-height: 40vh;
  padding: 10px;
}

.warningDiv {
  text-align: center;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modalDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

  animation: fadeIn 0.2s ease-in-out;
}

:global(.theme-light) .modalsDiv {
  background: rgba(255, 255, 255, 0.5);
}
