.flexDiv {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorDiv {
  max-width: 70%;
  max-height: 70%;
  text-align: center;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.errorDivChildren {
  text-align: left;
  white-space: pre;
  overflow: auto;
  max-height: 40vh;
  padding: 10px;
}

.warningDiv {
  text-align: center;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modalDiv {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

  animation: fadeIn 0.2s ease-in-out;
}

:global(.theme-light) .modalsDiv {
  background: rgba(255, 255, 255, 0.5);
}

.feedbackButton {
  position: fixed;
  bottom: 5%;
  right: 5%;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  cursor: pointer;
  border-width: 0;
  background-color: #1656b3;
  color: white;
  transition: box-shadow 200ms ease-in;
}

.feedbackButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
