.seekContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;
}

.volumeContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 200px;
  align-items: center;
}

.muteButton {
  cursor: pointer;
}

.videoTitleDiv {
  flex-grow: 1;
}

/* Progress bar */

.progressBarContainer {
  width: 100%;
  position: relative;
  height: 16px;
  margin: 0px 4px;
}

.progressBarContainer input[type="range"] {
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.progressBarContainer input[type="range"]:focus {
  outline: none;
}

.progressBarContainer input[type="range"]::-webkit-slider-runnable-track {
  cursor: pointer;
  background-color: transparent;
  color: transparent;
}

.progressBarContainer input[type="range"]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-width: 0;
  appearance: none;
  -webkit-appearance: none;
}

.progressBarContainer input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-width: 0;
  appearance: none;
  -webkit-appearance: none;
}

.progressBarContainer:not(.canChange)
  input[type="range"]::-webkit-slider-thumb {
  cursor: default;
}

.progressBarContainer:not(.canChange) input[type="range"]::-moz-range-thumb {
  cursor: default;
}

.progressBarContainer:not(.canChange)
  input[type="range"]::-webkit-slider-runnable-track {
  cursor: default;
}

.progressBarContainer :global(.ui.small.progress .bar) {
  height: 0.6em;
  min-width: unset;
  width: 100%;
  position: relative;
  background-color: #72a1e5;
}

:global(.theme-dark) .progressBarContainer :global(.ui.small.progress .bar) {
  background-color: #c7d5e9;
}

.progressBarContainer :global(.ui.progress):last-child {
  margin: 0.25em 0.7em 0.25em 0.7em;
}

.progressBar {
}
:global(.theme-dark) .progressBar {
  background-color: #4e4e4e !important;
}

.progressBar.canChange :global(.bar)::before {
  content: "";
  height: 15px;
  width: 15px;
  display: block;
  background-color: inherit;
  border-radius: 999px;
  right: 0;
  transform: translate(50%, -20%);
  opacity: 0.3;
  pointer-events: none;
  position: absolute;
}

.warn :global(.ui.small.progress .bar) {
  min-width: unset;
  width: 100%;
  background-color: #fbbd08;
}

.playButtonWrapper {
  cursor: pointer;
  font-size: 2rem;
  line-height: 80px;
}

.navDiv {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.navDiv > * {
  margin: 0 5px;
}

.nextVideoDiv {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 5px;
  background: white;
  cursor: pointer;
  height: 72px;
}

:global(.theme-dark) .nextVideoDiv {
  background: #202020;
  border-color: white;
}

.nextVideoDiv > div {
  margin: 0 5px;
}
