.backButton {
  background: linear-gradient(90deg, #0fbd7f 0%, #009962 100%);
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  transition: box-shadow 0.25s;
}

.backText {
  color: white;
  flex: 1;
  margin-right: 15px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.backIcon {
  height: 60px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  }
  
.backIcon > img {
  width: 50%;
}

.backButton:hover {
  box-shadow: 0 9px 13px 0 rgba(15, 189, 127, 0.4),
    0 17px 50px 0 rgba(15, 189, 127, 0.3);
}