.donationsWrapper {
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donateParagraph {
  max-width: 55%;
}

.donateParagraph.large {
  max-width: 85%;
}

.donationButton {
  background-color: #ffc43b !important;
  color: #222222;
  margin: auto;
  padding: 0.7rem 1rem !important;
  font-size: 18px !important;
}

:not(:global(.theme-dark)) .donationButton {
  color: #222222;
}

:global(.theme-dark) .donationButton {
  color: #ffffff;
}