.donationsWrapper {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donateParagraph {
  max-width: 55%;
}

.donateParagraph.large {
  max-width: 85%;
}