.donationsWrapper {
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donateParagraph {
  max-width: 55%;
}

.donateParagraph.large {
  max-width: 85%;
}

.donationButton {
  background-color: #ffc43b !important;
  color: #222222 !important;
  margin: auto;
  padding: 0.7rem 2rem;
  margin-top: 1rem;
}

:global(.theme-dark) .donationButton {
  background-color: #222222 !important;
}
