/* .player {
  width: 300px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.metadataWrapper {
  margin-bottom: 2.5em;
}

.playButtonWrapper {
  cursor: pointer;
  font-size: 2rem;
  line-height: 80px;
}

.spotifyLink {
  color: inherit;
  text-decoration: inherit;
  white-space: nowrap;
}

.spotifyLink:hover {
  text-decoration: underline;
}

.overflowEllipses {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.titleContainer {
  margin-bottom: 0.3em;
}

.title {
  white-space: normal;
}

.album {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 0.6em;
}

/* .artist:not(:last-child)::after {
  content: " /";
  display: inline;
  text-decoration: none;
  position: relative;
  top: 0;
  right: 0;
}

.artist:not(:last-child):hover::after {} */

.seekContainer {
  display: flex;
  justify-content: center;
  width: 70%;
  align-items: center;
  transition: flex-grow 200ms;
}

.volumeContainer {
  display: flex;
  margin-left: 10px;
  justify-content: center;
  width: 30%;
  align-items: center;
  transition: flex-grow 200ms;
}

.muteButton {
  cursor: pointer;
}

/* Progress bar */

.progressBarContainer {
  width: 100%;
  position: relative;
  height: 16px;
  margin: 0px 4px;
}

.progressBarContainer input[type="range"] {
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.progressBarContainer input[type="range"]:focus {
  outline: none;
}

.progressBarContainer input[type="range"]::-webkit-slider-runnable-track {
  cursor: pointer;
  background-color: transparent;
  color: transparent;
}

.progressBarContainer input[type="range"]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-width: 0;
  appearance: none;
  -webkit-appearance: none;
}

.progressBarContainer input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-width: 0;
  appearance: none;
  -webkit-appearance: none;
}

.progressBarContainer:not(.canChange)
  input[type="range"]::-webkit-slider-thumb {
  cursor: default;
}

.progressBarContainer:not(.canChange) input[type="range"]::-moz-range-thumb {
  cursor: default;
}

.progressBarContainer:not(.canChange)
  input[type="range"]::-webkit-slider-runnable-track {
  cursor: default;
}

.progressBarContainer :global(.ui.small.progress .bar) {
  height: 0.6em;
  min-width: unset;
  width: 100%;
  position: relative;
  background-color: #72a1e5;
}

:global(.theme-dark) .progressBarContainer :global(.ui.small.progress .bar) {
  background-color: #c7d5e9;
}

.progressBarContainer :global(.ui.progress):last-child {
  margin: 0.25em 0.7em 0.25em 0.7em;
}

.progressBar {
}
:global(.theme-dark) .progressBar {
  background-color: #4e4e4e !important;
}

.progressBar.canChange :global(.bar)::before {
  content: "";
  height: 15px;
  width: 15px;
  display: block;
  background-color: inherit;
  border-radius: 999px;
  right: 0;
  transform: translate(50%, -20%);
  opacity: 0.3;
  pointer-events: none;
  position: absolute;
}

.warn :global(.ui.small.progress .bar) {
  min-width: unset;
  width: 100%;
  background-color: #fbbd08;
}

.textWrapper {
  width: 400px;
  padding: 30px;
}

.shareExplanations {
  margin-top: 40px;
}

.container {
  display: flex;
  align-items: flex-start;
  width: 840px;
  flex-direction: column;
}

.container > div {
  border-radius: 16px;
}

.titleBar {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.albumArt {
  height: 120px;
  width: 120px;
  margin-left: 25px;
  z-index: 1;
  box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.2);
  transition: height 200ms, width 200ms;
}

.songInfo {
  flex-grow: 1;
  width: 0;

  margin: 0 20px;
  line-height: 1.6rem;
  height: 100%;
}

.listenerInfo {
  margin-right: 25px;
  margin-left: auto;
  text-align: right;
}

.infoBold {
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 5px;
}

.infoBar {
  width: 100%;
  height: 150px;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.info {
  width: 340px;
  padding: 0 35px;
  height: 150px;
  border-radius: 16px;
  box-shadow: -8px -8px 30px 2px rgba(255, 255, 255, 0.3),
    8px 8px 30px 2px rgba(0, 0, 0, 0.3);
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  transition: background-color 200ms;
}

.playerInfoBar {
  display: flex;
  width: 100%;
  height: 60px;
  color: white;
}

.donations {
  background-color: #ffe8b3;
}

.playerTextBar {
  height: 58px;
}

.playerBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 165px;
  background-color: white;
  border-radius: 16px;
  box-shadow: -8px -8px 30px 2px rgba(255, 255, 255, 0.3),
    8px 8px 30px 2px rgba(0, 0, 0, 0.3);
}

:global(.theme-dark) .playerBar {
  background-color: #222222;
}

.titleBar > h1 {
  font-size: 48px;
  font-weight: 900;
}

.linkWrapper {
  font-size: 18px;
}

.shareLink {
  color: white;
}
.shareLink:visited {
  color: white;
}

.connectSpotify {
  margin-right: 165px;
  line-height: 80px;
}

@media (max-width: 850px) {
  .playerBar {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 200px;
  }
  .playButtonWrapper {
    line-height: 50px;
  }

  .seekContainer:first-child {
    margin-left: 0;
  }

  .seekContainer {
    flex-grow: 1;
    /* margin-right: 20px; */
    line-height: 50px;
    margin: 0 20px 0 10px;
  }
  .volumeContainer {
    flex-grow: 1;
    margin-left: 0;
  }

  .albumArt {
    height: 155px;
    width: 155px;
  }
}
