/* .player {
  width: 300px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.metadataWrapper {
  margin-bottom: 2.5em;
}

.spotifyLink {
  color: inherit;
  text-decoration: inherit;
  margin: 0 3px;
  white-space: nowrap;
}

.spotifyLink:hover {
  text-decoration: underline;
}

.titleContainer {
  margin-bottom: 0.3em;
}

.title {
  white-space: normal;
}

.album {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 0.6em;
}

/* .artist:not(:last-child)::after {
  content: " /";
  display: inline;
  text-decoration: none;
  position: relative;
  top: 0;
  right: 0;
}

.artist:not(:last-child):hover::after {} */

.textWrapper {
  width: 400px;
  padding: 30px;
}

.shareExplanations {
  margin-top: 40px;
}

.container {
  display: flex;
  align-items: center;
  width: 80%;
  flex-direction: column;
}

.titleBar {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*  */
.player {
}

.playerDiv {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.playerDiv iframe {
  height: 360px;
  width: 640px;
}

.controlsDiv {
  width: 600px;
  padding: 10px 40px;
}

.videoDetailsDiv {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.albumArt {
  height: 120px;
  width: 120px;
  margin-left: 25px;
  z-index: 1;
  box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.2);
}

.songInfo {
  margin-left: 20px;
  line-height: 1.6rem;
  height: 100%;
}

.listenerInfo {
  margin-right: 50px;
  margin-left: auto;
  text-align: right;
}

.infoBold {
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 5px;
}

.infoBar {
  width: 100%;
  height: 150px;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.info {
  width: 340px;
  padding: 0 35px;
  height: 150px;
  border-radius: 16px;
  box-shadow: -8px -8px 30px 2px rgba(255, 255, 255, 0.3),
    8px 8px 30px 2px rgba(0, 0, 0, 0.3);
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  transition: background-color 200ms;
}

.playerInfoBar {
  display: flex;
  width: 100%;
  height: 60px;
  color: white;
}

.donations {
  background-color: #ffe8b3;
}

.playerTextBar {
  height: 58px;
}

.playerBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 165px;
  background-color: white;
  width: calc(100% - 165px);
  height: 80px;
  border-radius: 16px;
  box-shadow: -8px -8px 30px 2px rgba(255, 255, 255, 0.3),
    8px 8px 30px 2px rgba(0, 0, 0, 0.3);
}

:global(.theme-dark) .playerBar {
  background-color: #222222;
}

.titleBar > h1 {
  font-size: 48px;
  font-weight: 900;
}

.linkWrapper {
  font-size: 18px;
}

.shareLink {
  color: white;
}
.shareLink:visited {
  color: white;
}

.connectSpotify {
  margin-right: 165px;
  line-height: 80px;
}
