.textWrapper {
    width: 400px;
    padding: 30px;
}

.shareExplanations {
    margin-top: 40px;
}

.container {
    display: flex;
    align-items: flex-start;
    width: 840px;
    flex-direction: column;
}

.container > div {
    border-radius: 16px;
}

.titleBar {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.albumArt {
    height: 120px;
    width: 120px;
    margin-left: 25px;
    z-index: 1;
    box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.2);
}

.songInfo {
    margin-left: 20px;
    height: 100%;
}

.listenerInfo {
    margin-right: 50px;
    margin-left: auto;
    text-align: right;
}

.infoBold {
    font-weight: 900;
    font-size: 22px;
    margin-bottom: 5px;
}

.infoBar {
    width: 100%;
    height: 150px;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.info {
    width: 340px;
    padding: 0 35px;
    height: 150px;
    border-radius: 16px;
    box-shadow: -8px -8px 30px 2px rgba(255, 255, 255, 0.3), 8px 8px 30px 2px rgba(0, 0, 0, 0.3);
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.playerInfoBar {
    display: flex;
    width: 100%;
    height: 60px;
    color: white;
}

.donations {
    background-color: #FFE8B3;
}

.playerTextBar {
    height: 58px;
}

.playerBar {
    background-color: white;
    width: 100%;
    height: 80px;
    border-radius: 16px;
    box-shadow: -8px -8px 30px 2px rgba(255, 255, 255, 0.3), 8px 8px 30px 2px rgba(0, 0, 0, 0.3);
}

.titleBar > h1 {
    font-size: 48px;
    font-weight: 900;
}

.linkWrapper {
    font-size: 18px;
}

.shareLink {
    color: white;
}
.shareLink:visited {
    color: white;
}
