.textWrapper {
    width: 400px;
    padding: 30px;
}

.shareExplanations {
    margin-top: 40px;
}

not(.darkContent) .shareLink{
    color: black;
}
not(.darkContent) .shareLink:visited {
    color: black;
}
