@import-normalize;

html,
#root,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inline {
  display: inline;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.textAlignLeft {
  text-align: left;
}

.textAlignCenter {
  text-align: center;
}

.noMargins {
  margin: 0;
}

.noMarginTop {
  margin-top: 0;
}

.noMarginBottom {
  margin-bottom: 0;
}

a {
  /* padding: 5px; */
}

a:focus {
  outline: none;
  box-shadow: 0 0 0px 3px black;
  border-radius: 5px;
}

a:visited {
  color: white;
}

.theme-light a:visited {
  color: black;
}