button {
  cursor: pointer;
  border: 1px solid #2C3A3A;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: box-shadow 0.3s;
  margin: 5px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}